<div class="wrapper fadeInDown">
    <div id="formContent">

        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <!-- <img src="../../../assets/icons8-material-two-tone-24.png" id="icon" alt="User Icon" /> -->
        </div>

        <!-- Login Form -->
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

            <input type="text" id="login" class="fadeIn second" name="login" placeholder="Usuario"
                formControlName="usuario">
            <input type="password" id="password" class="fadeIn third" name="login" placeholder="Clave"
                formControlName="clave">
            <input type="submit" class="fadeIn fourth" value="Ingresar" [disabled]="!profileForm.valid">
            <!-- <input type="button" class="fadeIn fourth" [disabled]="!profileForm.valid"> -->
            <!-- <button type="submit" [disabled]="!profileForm.valid">Submit</button> -->
        </form>
        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Olvidaste tu clave?</a>
        </div>

    </div>
</div>